<!DOCTYPE html>
<html lang="ru" dir="ltr">
<%- include ../common/head %>
<body>

    <%- include ../common/header %>
    <div class="page-wrapper">
    <%- include ./body %>
    </div>
    <%- include ../common/footer %>
    <%- include ../common/scrolltop%>

<%- include ../common/scriptpack %>
</body>
</html>